

div.bg_top {
  background: url(../images/dosa.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  opacity: 0.44;
}

div.h1 {  
  text-align: center;
  color #ffffff;
  border-bottom: 2px solid #2A1959;  
  font-size: 5.8em;  
}

div.body {
  background-color: #777777; 
  font-family: sans-serif;
}

h2 {
  color: #ff44ff;
  margin-left: 50px;
  font-size: 2.5em;
}

h3 {
  color: #ffffff;
  margin-left: 50px;
  font-size: 2.0em;
}

p {
  color: #ffff00;
  margin-left: 50px;
  font-size: 1.5em;
}

